USE [master]
GO
/****** Object:  Database [QLBanDienThoai]    Script Date: 1/5/2022 11:36:50 AM ******/
CREATE DATABASE [QLBanDienThoai]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanDienThoai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanDienThoai]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](max) NULL,
	[TenAdmin] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [nvarchar](max) NULL,
	[Loai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BLOG]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOG](
	[MaBlog] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [nvarchar](200) NULL,
	[ContentTitle1] [nvarchar](50) NULL,
	[ContentTitle2] [nvarchar](50) NULL,
	[ContentTitle3] [nvarchar](50) NULL,
	[ContentTitle4] [nvarchar](50) NULL,
	[ContentTitle5] [nvarchar](50) NULL,
	[content1] [nvarchar](max) NULL,
	[content2] [nvarchar](max) NULL,
	[content3] [nvarchar](max) NULL,
	[content4] [nvarchar](max) NULL,
	[content5] [nvarchar](max) NULL,
	[content6] [nvarchar](max) NULL,
	[content7] [nvarchar](max) NULL,
	[content8] [nvarchar](max) NULL,
	[content9] [nvarchar](max) NULL,
	[content10] [nvarchar](max) NULL,
	[BlogDate] [datetime] NULL,
	[Author] [nvarchar](50) NULL,
	[ImageContent1] [nvarchar](max) NULL,
	[ImageContent2] [nvarchar](max) NULL,
	[ImageContent3] [nvarchar](max) NULL,
	[ImageContent4] [nvarchar](max) NULL,
	[ImageContent5] [nvarchar](max) NULL,
	[IsPopular] [bit] NULL,
 CONSTRAINT [PK_BLOG] PRIMARY KEY CLUSTERED 
(
	[MaBlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONTHANG]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONTHANG](
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CHITIETDONTHANG] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[DaThanhToan] [bit] NULL,
	[TinhTrangGiaoHang] [bit] NULL,
	[NgayDat] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
	[MaKH] [int] NULL,
	[YeuCau] [nvarchar](max) NULL,
	[TongTien] [decimal](20, 0) NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaKH] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[GiaBan] [decimal](18, 10) NOT NULL,
	[AnhBia] [nvarchar](max) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaTong] [decimal](20, 0) NOT NULL,
	[GiaoHang] [int] NOT NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](50) NULL,
	[DienThoai] [varchar](50) NULL,
	[Active] [bit] NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](50) NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[GiaBan] [decimal](18, 0) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[ManHinh] [nvarchar](max) NULL,
	[HeDieuHanh] [nvarchar](max) NULL,
	[CameraSau] [nvarchar](max) NULL,
	[CameraTruoc] [nvarchar](max) NULL,
	[CPU] [nvarchar](max) NULL,
	[RAM] [nvarchar](max) NULL,
	[BoNhoTrong] [nvarchar](max) NULL,
	[SIM] [nvarchar](max) NULL,
	[Pin] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](max) NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[SoLuongTon] [int] NULL,
	[MaLSP] [int] NULL,
	[MaNCC] [int] NULL,
	[DaXoa] [bit] NULL,
	[AnhBia1] [nvarchar](max) NULL,
	[KhuyenMai] [decimal](18, 0) NULL,
	[GiaSoc] [bit] NULL,
	[Sao] [int] NULL,
	[Mau1] [varchar](100) NULL,
	[Mau2] [varchar](100) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YEUTHICH]    Script Date: 1/5/2022 11:36:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUTHICH](
	[MaKH] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[GiaBan] [decimal](18, 10) NOT NULL,
	[AnhBia] [nvarchar](max) NULL,
	[TinhTrang] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[ADMIN] ([TaiKhoan], [MatKhau], [TenAdmin], [NgaySinh], [DiaChi], [SDT], [Email], [RoleID]) VALUES (N'dcthanh0611', N'ec71da68220250a328d36b78fa29b5cf12724300560fb268cd9182af96d43024', N'Đinh Công Thành', CAST(N'1998-11-06' AS Date), N'Biên Hòa, Đồng Nai', N'0358238666', N'dcthanh0611@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([ID], [Anh], [Loai]) VALUES (1, N'../../assets/images/Banners/slider1.jpg', N'banner')
INSERT [dbo].[Banner] ([ID], [Anh], [Loai]) VALUES (2, N'../../assets/images/Banners/slider2.jpg', N'banner')
INSERT [dbo].[Banner] ([ID], [Anh], [Loai]) VALUES (3, N'../../assets/images/Banners/slider3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Banner] OFF
SET IDENTITY_INSERT [dbo].[BLOG] ON 

SET IDENTITY_INSERT [dbo].[BLOG] OFF
INSERT [dbo].[CHITIETDONTHANG] ([MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (7, 51, 3, CAST(7990000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETDONTHANG] ([MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (8, 49, 3, CAST(20490000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETDONTHANG] ([MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (8, 52, 3, CAST(26990000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

INSERT [dbo].[DONDATHANG] ([MaDonHang], [DaThanhToan], [TinhTrangGiaoHang], [NgayDat], [NgayGiao], [MaKH], [YeuCau], [TongTien]) VALUES (7, 1, 1, CAST(N'2021-09-14 00:00:00.000' AS DateTime), CAST(N'2021-10-17 00:00:00.000' AS DateTime), 15, N'Sang', CAST(24070000 AS Decimal(20, 0)))
INSERT [dbo].[DONDATHANG] ([MaDonHang], [DaThanhToan], [TinhTrangGiaoHang], [NgayDat], [NgayGiao], [MaKH], [YeuCau], [TongTien]) VALUES (8, 1, 1, CAST(N'2021-09-14 00:00:00.000' AS DateTime), CAST(N'2021-10-21 00:00:00.000' AS DateTime), 2, NULL, CAST(142470000 AS Decimal(20, 0)))
INSERT [dbo].[DONDATHANG] ([MaDonHang], [DaThanhToan], [TinhTrangGiaoHang], [NgayDat], [NgayGiao], [MaKH], [YeuCau], [TongTien]) VALUES (9, 1, 1, CAST(N'2021-08-15 00:00:00.000' AS DateTime), CAST(N'2021-10-18 00:00:00.000' AS DateTime), 5, NULL, CAST(16080000 AS Decimal(20, 0)))
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
INSERT [dbo].[GioHang] ([MaKH], [MaSanPham], [TenSanPham], [GiaBan], [AnhBia], [SoLuong], [GiaTong], [GiaoHang]) VALUES (2, 49, N'iPhone 12 64GB', CAST(20490000.0000000000 AS Decimal(18, 10)), N'../../assets/images/Phone/Iphone/iphone-12-64GB.jpg', 1, CAST(20490000 AS Decimal(20, 0)), 0)
INSERT [dbo].[GioHang] ([MaKH], [MaSanPham], [TenSanPham], [GiaBan], [AnhBia], [SoLuong], [GiaTong], [GiaoHang]) VALUES (2, 51, N'OPPO A74 5G', CAST(7990000.0000000000 AS Decimal(18, 10)), N'../../assets/images/Phone/Oppo/OPPO A74 5G.jpg', 2, CAST(15980000 AS Decimal(20, 0)), 0)
INSERT [dbo].[GioHang] ([MaKH], [MaSanPham], [TenSanPham], [GiaBan], [AnhBia], [SoLuong], [GiaTong], [GiaoHang]) VALUES (6, 52, N'OPPO Find X3 Pro 5G', CAST(26990000.0000000000 AS Decimal(18, 10)), N'../../assets/images/Phone/Oppo/OPPO Find X3 Pro 5G.jpg', 1, CAST(26990000 AS Decimal(20, 0)), 3)
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [NgaySinh], [DiaChi], [Email], [DienThoai], [Active], [RoleID]) VALUES (1, N'Đinh Công Thành', N'dinhcongthanh', N'123456', CAST(N'1998-11-06 00:00:00.000' AS DateTime), N'Biên Hòa', N'dcthanh0611@gmail.com', N'0358238666', 1, 1)
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [NgaySinh], [DiaChi], [Email], [DienThoai], [Active], [RoleID]) VALUES (2, N'Đinh Công Thành', N'riocamcarot', N'thanh123', CAST(N'1998-11-06 00:00:00.000' AS DateTime), NULL, NULL, N'0358238666', 1, 1)
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [NgaySinh], [DiaChi], [Email], [DienThoai], [Active], [RoleID]) VALUES (5, N'Đinh Công Thành', N'dinhcongthanh0611', N'thanh123', CAST(N'1998-11-06 00:00:00.000' AS DateTime), N'abc Đinh Tiên Hoàng', N'151900089@dntu.edu.vn', N'0358238666', 1, 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MaLSP], [TenLoaiSanPham]) VALUES (1, N'Điện thoại')
INSERT [dbo].[LOAISANPHAM] ([MaLSP], [TenLoaiSanPham]) VALUES (2, N'Laptop')
INSERT [dbo].[LOAISANPHAM] ([MaLSP], [TenLoaiSanPham]) VALUES (3, N'Máy tính bảng')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Logo]) VALUES (1, N'Asus', NULL, NULL, N'../../assets/images/Logos/Asus.jpg')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Logo]) VALUES (2, N'Dell', NULL, NULL, N'../../assets/images/Logos/Dell.jpg')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Logo]) VALUES (3, N'HP', NULL, NULL, N'../../assets/images/Logos/HP.jpg')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
INSERT [dbo].[ROLES] ([RoleID], [RoleName]) VALUES (1, N'khách hàng')
INSERT [dbo].[ROLES] ([RoleID], [RoleName]) VALUES (2, N'admin')
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
INSERT [dbo].[YEUTHICH] ([MaKH], [MaSanPham], [TenSanPham], [GiaBan], [AnhBia], [TinhTrang]) VALUES (2, 49, N'iPhone 12 64GB', CAST(20490000.0000000000 AS Decimal(18, 10)), N'../../assets/images/Phone/Iphone/iphone-12-64GB.jpg', N'Còn hàng')
INSERT [dbo].[YEUTHICH] ([MaKH], [MaSanPham], [TenSanPham], [GiaBan], [AnhBia], [TinhTrang]) VALUES (2, 50, N'iPhone 12 Pro 512GB', CAST(35990000.0000000000 AS Decimal(18, 10)), N'../../assets/images/Phone/Iphone/iphone-12-pro-512GB.jpg', N'Còn hàng')
INSERT [dbo].[YEUTHICH] ([MaKH], [MaSanPham], [TenSanPham], [GiaBan], [AnhBia], [TinhTrang]) VALUES (2, 51, N'OPPO A74 5G', CAST(7990000.0000000000 AS Decimal(18, 10)), N'../../assets/images/Phone/Oppo/OPPO A74 5G.jpg', N'Còn hàng')
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_ROLES] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLES] ([RoleID])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_ROLES]
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONTHANG_DONDATHANG] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DONDATHANG] ([MaDonHang])
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [FK_CHITIETDONTHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONTHANG_SACH] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [FK_CHITIETDONTHANG_SACH]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GIOHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_SANPHAM] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GIOHANG_SANPHAM]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_ROLES] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLES] ([RoleID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_ROLES]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LoaiSanPham] FOREIGN KEY([MaLSP])
REFERENCES [dbo].[LOAISANPHAM] ([MaLSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_LoaiSanPham]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_NhaXB] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_NhaXB]
GO
ALTER TABLE [dbo].[YEUTHICH]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[YEUTHICH]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [CK__CHITIETDO__Dongi__440B1D61] CHECK  (([Dongia]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [CK__CHITIETDO__Dongi__440B1D61]
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [CK__CHITIETDO__Soluo__4316F928] CHECK  (([Soluong]>(0)))
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [CK__CHITIETDO__Soluo__4316F928]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__Giaban__20C1E124] CHECK  (([Giaban]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__Giaban__20C1E124]
GO
USE [master]
GO
