<div class="wishlist">
    <a href="@Url.Action("Index", "YeuThich")" title="Wishlist">
        <div class="icon">
            <i class="icon-heart-o"></i>
            <span class="wishlist-count badge">@ViewBag.SoLuong</span>
        </div>
        <p>Yêu thích</p>
    </a>
</div><!-- End .compare-dropdown -->